<aside class="l-sidebar">

  <div class="sections sidebar">
    <section class="sidebar">
      <header>MAIS RECENTES</header>
      <div>
        <div class="articles sm">
          {{ range $i, $p := (first 3 (where .Site.Pages ".Params.at_home" "!=" "no")) }}
          {{ .Render "li_sm" }}
          {{ end }}
        </div>
      </div>
    </section>
    
    <section class="sidebar">
      <header>RECENTES NO STACK OVERFLOW</header>
      <div>
        <div class="articles sm">
          {{ range $i, $p := (first 3 (where .Site.Pages ".Params.at_home" "eq" "no")) }}
          {{ .Render "li_sm" }}
          {{ end }}
        </div>
      </div>
    </section>
    
    <section class="sidebar">
      <header>BLOGS</header>
      <div>
        <ul class="terms">
          {{ range $key, $value := first 10 .Site.Taxonomies.categories.ByCount }}
          {{ if ne .Name "sopt" }}
          <li><a href="{{ $.Site.BaseURL}}{{ .Name | urlize }}">{{ .Name }}</a></li>
          {{ end }}
          {{ end }}
        </ul>
      </div>
    </section>
    
</aside>
