<aside class="l-sidebar">

  <div class="sections sidebar">
    <section class="sidebar">
      <header>MAIS RECENTES</header>
      <div>
        <div class="articles sm">
          {{ range $i, $p := (first 3 .Site.Pages) }}
          {{ .Render "li_sm" }}
          {{ end }}
        </div>
      </div>
    </section>
    
    <section class="sidebar">
      <header>BLOGS</header>
      <div>
        <ul class="terms">
          {{ range $key, $value := first 10 .Site.Taxonomies.categories.ByCount }}<li><a href="{{ $.Site.BaseURL}}{{ .Name | urlize }}">{{ .Name }}</a></li>{{ end }}
        </ul>
      </div>
    </section>
    
    
</aside>
